
.Hook {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.Hook-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  margin-left:  100px;
  margin-right: 50px;
  max-width: 550px;
}

.Hook-Title-Container {
}

.Hook-Title {
  line-height: 1em;
   font-size: 40px;
   align-self: center;
}

.Hook-Body {
  margin-top: 20px;
  font-size: 24px;
}

.Lotus-Image {
  width: 40%;
  /* height: 352px; */
  margin: 100px 100px 100px 0;
  align-self: flex-end;
}

.Anna {
  margin: 0 auto;
  font-size: 36px;
  text-decoration: none;
  color: black;
}

.Anna:hover{
  margin: 0 auto;
  font-size: 36px;
  text-decoration: none;
  color: pink;
  align-self: flex-start;
}


@media(max-width: 1400px){
  .Hook-Content{
    margin-left: 50px;
  }
}

@media(max-width: 1000px){
  .Hook{
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .Lotus-Image{
    align-self: center;
    width: 65%;
    margin: 20px;
  }
}

@media(max-width: 700px){

}
