
.Hook {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.Hook-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%
}

.Hook-Title-Container {
width: 60%;
}

.Hook-Title {
  line-height: 1em;
   font-size: 40px;
   width: 60%;
   align-self: center;
}

.Hook-Body {
  width: 60%;
  margin-top: 20px;
  font-size: 24px;
}

.Lotus-Image {
  width: 500px;
  height: 352px;
  margin: 100px;
  align-self: flex-end;
}

.Anna {
  margin: 0 auto;
  font-size: 36px;
  text-decoration: none;
  color: black;
}

.Anna:hover{
  margin: 0 auto;
  font-size: 36px;
  text-decoration: none;
  color: pink;
  align-self: flex-start;
}
